@using LittleArkFoundation.Areas.Admin.Models.Form
@using LittleArkFoundation.Areas.Admin.Models.FamilyComposition
@model FormViewModel

<table>
    <th>
        5. Include current significant medical problems, physical limitations, sleep problems, unusual eating habits, poor hygiene, overall physical fitness, head injuries, early
        childhood infections, eating disorders, knee or back injuries, asthma and others
    </th>
</table>
<table id="diagnosis-table">
    <tr>
        <th>
            Medical Conditions
        </th>
        <th>
            Currently receiving treatment?
        </th>
        <th>
            Provider
        </th>
        <th>
            Does this condition cause stress or impairment at this time?
        </th>
        <th>
            What have you found that helps?
        </th>
        <th>
            Action
        </th>
    </tr>
    <tbody class="diagnosis-input">
        @for (int i = 0; i < Model.Diagnoses.Count; i++)
        {
            <tr>
                <td>
                    <input type="text" name="Diagnoses[@i].MedicalCondition" placeholder="Type N/A if no answer" required>
                </td>
                <td>
                    <select name="Diagnoses[@i].ReceivingTreatment" required>
                        <option value="true">Yes</option>
                        <option value="false">No</option>
                    </select>
                </td>
                <td>
                    <input type="text" name="Diagnoses[@i].TreatmentProvider" placeholder="Type N/A if no answer" required>
                </td>
                <td>
                    <select name="Diagnoses[@i].DoesCauseStressOrImpairment" required>
                        <option value="true">Yes</option>
                        <option value="false">No</option>
                    </select>
                </td>
                <td>
                    <input type="text" name="Diagnoses[@i].TreatmentHelp" placeholder="Type N/A if no answer" required>
                </td>
                <td><button type="button" id="diagnosis-button-remove" onclick="removeRow(this)">❌</button></td>
            </tr>
        }
    </tbody>
</table>
<button type="button" id="diagnosis-button-add" onclick="addRow(this)">➕ Add Row</button>

<table>
    <th>
        6. Does your child take any medications?
        <div class="radio-group">
            <input type="radio" asp-for="Medications[0].DoesTakeAnyMedication" value="True" required> Yes
            <input type="radio" asp-for="Medications[0].DoesTakeAnyMedication" value="False"> No
        </div>
        Please list medications including psychotropic, over‐the‐counter, herbal remedies that you have taken in the past 6 months
    </th>
</table>
<table id="medication-table">
    <tr>
        <th>
            Medication
        </th>
        <th>
            Dosage
        </th>
        <th>
            Frequency
        </th>
        <th>
            Prescribed by
        </th>
        <th>
            Reason for Medication
        </th>
        <th>
            Action
        </th>
    </tr>
    <tbody class="medication-input">
        @for (int i = 0; i < Model.Medications.Count; i++)
        {
            <tr>
                <td>
                    <input type="text" name="Medications[@i].Medication" placeholder="Type N/A if no answer" required>
                </td>
                <td>
                    <input type="text" name="Medications[@i].Dosage" placeholder="Type N/A if no answer" required>
                </td>
                <td>
                    <input type="text" name="Medications[@i].Frequency" placeholder="Type N/A if no answer" required>
                </td>
                <td>
                    <input type="text" name="Medications[@i].PrescribedBy" placeholder="Type N/A if no answer" required>
                </td>
                <td>
                    <input type="text" name="Medications[@i].ReasonForMedication" placeholder="Type N/A if no answer" required>
                </td>
                <td><button type="button" id="medication-button-remove" onclick="removeRow(this)">❌</button></td>
            </tr>
        }
    </tbody>
</table>
<button type="button" id="medication-button-add" onclick="addRow(this)">➕ Add Row</button>

<table>
    <tr>
        <th>
            Is your child taking the medications as prescribed?
            <div class="radio-group">
                <input type="radio" asp-for="Medications[0].IsTakingMedicationAsPrescribed" value="True" required> Yes
                <input type="radio" asp-for="Medications[0].IsTakingMedicationAsPrescribed" value="False"> No
            </div>
            If no, please explain
            <input type="text" asp-for="Medications[0].DescribeTakingMedication" placeholder="Type N/A if no answer" required />
        </th>
    </tr>
    <tr>
        <th>
            Additional Information (if needed):
            <textarea asp-for="Medications[0].AdditionalInfo" rows="6" cols="120" placeholder="Type N/A if no answer" required></textarea>
        </th>
    </tr>
</table>

<table>
    <th>
        7. Has your child ever had a serious accident/illness or hospitalization?
        <div class="radio-group">
            <input type="radio" asp-for="HospitalizationHistory[0].HasSeriousAccidentOrIllness" value="True" required> Yes
            <input type="radio" asp-for="HospitalizationHistory[0].HasSeriousAccidentOrIllness" value="False"> No
        </div>
        Please list all past hospitalization, surgeries, accidents, or illnesses
    </th>
</table>
<table id="hospitalization-table">
    <tr>
        <th>
            Reason for Previous Hospitalizations, Accident, Illness
        </th>
        <th>
            Date
        </th>
        <th>
            Location
        </th>
        <th>
            Action
        </th>
    </tr>
    <tbody class="hospitalization-input">
        @for (int i = 0; i < Model.HospitalizationHistory.Count; i++)
        {
            <tr>
                <td>
                    <input type="text" name="HospitalizationHistory[@i].Reason" placeholder="Type N/A if no answer" required>
                </td>
                <td>
                    <input type="date" name="HospitalizationHistory[@i].Date" required>
                </td>
                <td>
                    <input type="text" name="HospitalizationHistory[@i].Location" placeholder="Type N/A if no answer" required>
                </td>
                <td><button type="button" id="hospitalization-button-remove" onclick="removeRow(this)">❌</button></td>
            </tr>
        }
    </tbody>
</table>
<button type="button" id="hospitalization-button-add" onclick="addRow(this)">➕ Add Row</button>

<table>
    <tr>
        <th colspan="3">
            8. Has your child had the following screening/test?
            <div class="radio-group">
                <input type="radio" asp-for="MedicalScreenings.HasScreeningDone" value="True" required> Yes
                <input type="radio" asp-for="MedicalScreenings.HasScreeningDone" value="False"> No
            </div>
        </th>
    </tr>
    <tr>
        <td>
            Hearing screening/test:
        </td>
        <td>
            Date
            <input type="date" asp-for="MedicalScreenings.HearingTestDate" required>
        </td>
        <td>
            Outcome
            <input type="text" asp-for="MedicalScreenings.HearingTestOutcome" placeholder="Type N/A if no answer" required>
        </td>
    </tr>
    <tr>
        <td>
            Vision screening/test:
        </td>
        <td>
            Date
            <input type="date" asp-for="MedicalScreenings.VisionTestDate" required>
        </td>
        <td>
            Outcome
            <input type="text" asp-for="MedicalScreenings.VisionTestOutcome" placeholder="Type N/A if no answer" required>
        </td>
    </tr>
    <tr>
        <td>
            Speech screening/test:
        </td>
        <td>
            Date
            <input type="date" asp-for="MedicalScreenings.SpeechTestDate" required>
        </td>
        <td>
            Outcome
            <input type="text" asp-for="MedicalScreenings.SpeechTestOutcome" placeholder="Type N/A if no answer" required>
        </td>
    </tr>
    <tr>
        <td>
            Primary Care Doctor:
            <input type="text" asp-for="PrimaryCareDoctor.DoctorName" placeholder="Type N/A if no answer" required>
        </td>
        <td>
            Facility
            <input type="text" asp-for="PrimaryCareDoctor.Facility" placeholder="Type N/A if no answer" required>
        </td>
        <td>
            PhoneNumber
            <input type="tel" 
                asp-for="PrimaryCareDoctor.PhoneNumber"
                inputmode="numeric"
                pattern="^(0|09\d{9}|0\d{1,2}\d{7,8})$"
                title="Mobile: 11 digits starting with 09. Or landline e.g. 02xxxxxxx. Or just '0'"
                maxlength="11"
                required>
        </td>
    </tr>
</table>

<table>
    <tr>
        <th colspan="3">
            A. Presenting Problem
            <textarea asp-for="PresentingProblems.PresentingProblem" rows="2" cols="120" placeholder="Type N/A if no answer" required></textarea>
        </th>
    </tr>
    <tr>
        <th colspan="3">
            B. How severe do you rate your child’s presenting problems, on a scale of 1‐10 with 1 being the most severe?
            <div class="radio-group">
                <input type="radio" asp-for="PresentingProblems.Severity" value="1" required> 1
                <input type="radio" asp-for="PresentingProblems.Severity" value="2"> 2
                <input type="radio" asp-for="PresentingProblems.Severity" value="3"> 3
                <input type="radio" asp-for="PresentingProblems.Severity" value="4"> 4
                <input type="radio" asp-for="PresentingProblems.Severity" value="5"> 5
                <input type="radio" asp-for="PresentingProblems.Severity" value="6"> 6
                <input type="radio" asp-for="PresentingProblems.Severity" value="7"> 7
                <input type="radio" asp-for="PresentingProblems.Severity" value="8"> 8
                <input type="radio" asp-for="PresentingProblems.Severity" value="9"> 9
                <input type="radio" asp-for="PresentingProblems.Severity" value="10"> 10
            </div>
        </th>
    </tr>
    <tr>
        <th colspan="3">
            C. Does the Presenting Problem cause symptoms causing concern, distress, or impairment?
        </th>
    </tr>
    <tr>
        <th colspan="3">
            1. Change in sleep patterns:
            <div class="radio-group">
                <input type="radio" asp-for="PresentingProblems.ChangeInSleepPattern" value="Sleeping more" required> a. Sleeping more
                <input type="radio" asp-for="PresentingProblems.ChangeInSleepPattern" value="Sleeping less"> b. Sleeping less
                <input type="radio" asp-for="PresentingProblems.ChangeInSleepPattern" value="Difficulty falling asleep"> c. Difficulty falling asleep
            </div>
            <div class="radio-group">
                <input type="radio" asp-for="PresentingProblems.ChangeInSleepPattern" value="Difficulty staying asleep"> d. Difficulty staying asleep
                <input type="radio" asp-for="PresentingProblems.ChangeInSleepPattern" value="Difficulty waking up"> e. Difficulty waking up
                <input type="radio" asp-for="PresentingProblems.ChangeInSleepPattern" value="Difficulty staying awake"> f. Difficulty staying awake
                <input type="radio" asp-for="PresentingProblems.ChangeInSleepPattern" value="N/A"> N/A
            </div>
        </th>
    </tr>
    <tr>
        <th colspan="3">
            2. Concentration:
            <div class="radio-group">
                <input type="radio" asp-for="PresentingProblems.Concentration" value="Decreased concentration" required> a. Decreased concentration
                <input type="radio" asp-for="PresentingProblems.Concentration" value="Increased or excessive concentration"> b. Increased or excessive concentration
                <input type="radio" asp-for="PresentingProblems.Concentration" value="N/A"> N/A
            </div>
        </th>
    </tr>
    <tr>
        <th colspan="3">
            3. Change in appetite:
            <div class="radio-group">
                <input type="radio" asp-for="PresentingProblems.ChangeInAppetite" value="Increased appetite" required> a. Increased appetite
                <input type="radio" asp-for="PresentingProblems.ChangeInAppetite" value="Decreased appetite"> b. Decreased appetite
                <input type="radio" asp-for="PresentingProblems.ChangeInAppetite" value="N/A"> N/A
            </div>
        </th>
    </tr>
    <tr>
        <th colspan="3">
            4. Increased Anxiety (Please describe):
            <input type="text" asp-for="PresentingProblems.IncreasedAnxiety" placeholder="Type N/A if no answer" required>
        </th>
    </tr>
    <tr>
        <th colspan="3">
            5. Mood Swings (Please describe):
            <input type="text" asp-for="PresentingProblems.MoodSwings" placeholder="Type N/A if no answer" required>
            Behavioral Problems/Changes (describe):
            <input type="text" asp-for="PresentingProblems.BehavioralChanges" placeholder="Type N/A if no answer" required>
        </th>
    </tr>
    <tr>
        <th colspan="3">
            6. Victimization:
            <div class="radio-group">
                <input type="radio" asp-for="PresentingProblems.Victimization" value="Physical abuse" onchange="toggleRequiredRadio(this)" required> a. Physical abuse
                <input type="radio" asp-for="PresentingProblems.Victimization" value="Sexual abuse" onchange="toggleRequiredRadio(this)"> b. Sexual abuse
                <input type="radio" asp-for="PresentingProblems.Victimization" value="Psychological abuse" onchange="toggleRequiredRadio(this)"> c. Psychological abuse
                <input type="radio" asp-for="PresentingProblems.Victimization" value="Robbery victim" onchange="toggleRequiredRadio(this)"> d. Robbery victim
                <input type="radio" asp-for="PresentingProblems.Victimization" value="Assault victim" onchange="toggleRequiredRadio(this)"> e. Assault victim
            </div>
            <div class="radio-group">
                <input type="radio" asp-for="PresentingProblems.Victimization" value="Dating violence" onchange="toggleRequiredRadio(this)"> f. Dating violence
                <input type="radio" asp-for="PresentingProblems.Victimization" value="Domestic violence" onchange="toggleRequiredRadio(this)"> g. Domestic violence
                <input type="radio" asp-for="PresentingProblems.Victimization" value="Human trafficking" onchange="toggleRequiredRadio(this)"> h. Human trafficking
                <input type="radio" asp-for="PresentingProblems.Victimization" value="DUI/DWI crash" onchange="toggleRequiredRadio(this)"> i. DUI/DWI crash
                <input type="radio" asp-for="PresentingProblems.Victimization" value="Survivors of homicide victims" onchange="toggleRequiredRadio(this)"> j. Survivors of homicide victims
            </div>
            <div class="radio-group">
                <input type="radio" asp-for="PresentingProblems.Victimization" value="Others" data-target="victimization-others-specify" onchange="toggleRequiredRadio(this)"> k. Other
                <input type="text" id="victimization-others-specify" placeholder="Specify" disabled oninput="updateOthersValue(this)">
            </div>
            <div class="radio-group">
                <input type="radio" asp-for="PresentingProblems.Victimization" value="N/A" onchange="toggleRequiredRadio(this)"> N/A
            </div>
        </th>
    </tr>
    <tr>
        <th colspan="3">
            7. Please describe other concerns:
            <input type="text" asp-for="PresentingProblems.DescribeOtherConcern" placeholder="Type N/A if no answer" required>
        </th>
    </tr>
    <tr>
        <th colspan="3">
            D. How long has this problem been causing your child distress?
            <div class="radio-group">
                <input type="radio" asp-for="PresentingProblems.DurationOfStress" value="One week" required> a. One week
                <input type="radio" asp-for="PresentingProblems.DurationOfStress" value="One month"> b. One month
                <input type="radio" asp-for="PresentingProblems.DurationOfStress" value="1 – 6 months"> c. 1 – 6 months
                <input type="radio" asp-for="PresentingProblems.DurationOfStress" value="6 months – 1 year"> d. 6 months – 1 year
                <input type="radio" asp-for="PresentingProblems.DurationOfStress" value="Longer than one year"> e.  Longer than one year
            </div>
        </th>
    </tr>
    <tr>
        <th colspan="3">
            E. How do you rate your child’s current level of coping on a scale of 1 – 10 with 1 being unable to cope?
            <div class="radio-group">
                <input type="radio" asp-for="PresentingProblems.CopingLevel" value="1" required> 1
                <input type="radio" asp-for="PresentingProblems.CopingLevel" value="2"> 2
                <input type="radio" asp-for="PresentingProblems.CopingLevel" value="3"> 3
                <input type="radio" asp-for="PresentingProblems.CopingLevel" value="4"> 4
                <input type="radio" asp-for="PresentingProblems.CopingLevel" value="5"> 5
                <input type="radio" asp-for="PresentingProblems.CopingLevel" value="6"> 6
                <input type="radio" asp-for="PresentingProblems.CopingLevel" value="7"> 7
                <input type="radio" asp-for="PresentingProblems.CopingLevel" value="8"> 8
                <input type="radio" asp-for="PresentingProblems.CopingLevel" value="9"> 9
                <input type="radio" asp-for="PresentingProblems.CopingLevel" value="10"> 10
            </div>
        </th>
    </tr>
    <tr>
        <th colspan="3">
            F. Are there other situations that you think or believe we should know about to understand the relationship within your family?
            <textarea asp-for="PresentingProblems.OtherFamilySituation" rows="2" cols="120" placeholder="Type N/A if no answer" required></textarea>
        </th>
    </tr>
</table>
