@model FormResponsesModel
@{
	ViewData["Title"] = "Create Form";
	Layout = "_AdminLayout";
	string dbType = ViewBag.dbType ?? "main";
}

<h2>Create Form</h2>


<h2>Fill Out the Form</h2>
<hr />

<form asp-action="Create" asp-route-dbType="@dbType" method="post">
    @Html.AntiForgeryToken()
    <div>
        <label>Full Name:</label>
        <input asp-for="FullName" required />
        <span asp-validation-for="FullName"></span>
    </div>

    <div>
        <label>Email:</label>
        <input asp-for="Email" type="email" required />
        <span asp-validation-for="Email"></span>
    </div>

    <div>
        <label>Address:</label>
        <input asp-for="Address" />
    </div>

    <div>
        <label>Message:</label>
        <textarea asp-for="Message" required></textarea>
        <span asp-validation-for="Message"></span>
    </div>

    <button type="submit" class="btn btn-sm btn-primary">Submit</button>
</form>

