@using LittleArkFoundation.Areas.Admin.Models.Form
@using LittleArkFoundation.Areas.Admin.Models.FamilyComposition
@model FormViewModel
@{
    ViewData["Title"] = "Create Form";
    Layout = "_AdminLayout";
}

<style>
    .form-container {
        width: 100%;
        max-width: 900px;
        margin: auto;
        border: 1px solid #000;
        padding: 20px;
    }

    table {
        width: 100%;
        border-collapse: collapse;
    }

    th, td {
        border: 1px solid black;
        padding: 5px;
        text-align: left;
        font-size: medium;
    }

    .section-title {
        background-color: #f2f2f2;
        font-weight: bold;
        padding: 5px;
        text-align: center;
    }

    input, select {
        width: 98%;
        font-size: medium;
        padding: 5px;
        transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
    }

    .required {
        color: red;
        font-weight: bold;
    }

    .checkbox-group, .radio-group {
        display: flex;
        align-items: center;
        gap: 10px; /* Adjust spacing between checkbox/radio and text */
        margin-bottom: 5px;
    }

        .checkbox-group input[type="checkbox"],
        .radio-group input[type="radio"] {
            transform: scale(1.2); /* Slightly increase size for better visibility */
            padding: 0;
            margin: 0;
            width: 2rem;
        }

    .hospitalizaiton-input input:hover, .hospitalizaiton-input input:focus,
    .hospitalizaiton-input select:hover, .hospitalizaiton-input select:focus,
    .medication-input input:hover, .medication-input input:focus,
    .medication-input select:hover, .medication-input select:focus,
    .diagnosis-input input:hover, .diagnosis-input input:focus,
    .diagnosis-input select:hover, .diagnosis-input select:focus,
    .family-input input:hover, .family-input input:focus,
    .family-input select:hover, .family-input select:focus {
        transform: scale(1.2); /* Slightly enlarges the input field */
        box-shadow: 0 0 8px rgba(0, 0, 0, 0.2); /* Adds a subtle glow */
        z-index: 10; /* Ensures it appears above other elements */
        position: relative;
        width: 10rem;
    }

    textarea {
        width: 100%;
    }

</style>

<form asp-action="Create" method="post">
    @Html.AntiForgeryToken()
    <div class="form-container">
        <h2 style="text-align: center;">Republic of the Philippines - Department of Health</h2>
        <h3 style="text-align: center;">MSWD Assessment Tool for Children/Adolescent</h3>

        <table>
            <tr>
                <td>
                    Date of Interview: <span class="required">*</span>
                    <input type="date" asp-for="Assessments.DateOfInterview" id="dateInput" required>
                    <span asp-validation-for="Assessments.DateOfInterview" class="text-danger"></span>

                </td>
                <td>
                    Time of Interview: <span class="required">*</span>
                    <input type="time" asp-for="Assessments.TimeOfInterview" id="timeInput" required>
                    <span asp-validation-for="Assessments.TimeOfInterview" class="text-danger"></span>

                </td>
            </tr>
            <tr>
                <td>
                    Basic Ward: <span class="required">*</span>
                    <input type="text" asp-for="Assessments.BasicWard" required>
                    <span asp-validation-for="Assessments.BasicWard" class="text-danger"></span>

                </td>
                <td>
                    Non-Basic Ward: <span class="required">*</span>
                    <input type="text" asp-for="Assessments.NonBasicWard" required>
                    <span asp-validation-for="Assessments.NonBasicWard" class="text-danger"></span>

                </td>
            </tr>
            <tr>
                <td>
                    Health Record No: <span class="required">*</span>
                    <input type="text" asp-for="Assessments.HealthRecordNo" required>
                    <span asp-validation-for="Assessments.HealthRecordNo" class="text-danger"></span>

                </td>
                <td>
                    MSWD No: <span class="required">*</span>
                    <input type="text" asp-for="Assessments.MSWDNo" required>
                    <span asp-validation-for="Assessments.MSWDNo" class="text-danger"></span>

                </td>
            </tr>
        </table>

        <div class="section-title">Source of Referral</div>
        <table>
            <tr>
                <td>
                    Referral Name: <span class="required">*</span>
                    <input type="text" asp-for="Referrals.Name" required>
                    <span asp-validation-for="Referrals.Name" class="text-danger"></span>

                </td>
                <td>
                    Address: <span class="required">*</span>
                    <input type="text" asp-for="Referrals.Address" required>
                    <span asp-validation-for="Referrals.Address" class="text-danger"></span>

                </td>
                <td>
                    Contact No: <span class="required">*</span>
                    <input type="text" asp-for="Referrals.ContactNo" required>
                    <span asp-validation-for="Referrals.ContactNo" class="text-danger"></span>

                </td>
            </tr>

        </table>

        <div class="section-title">Source of Informant</div>
        <table>
            <tr>
                <td>
                    Informant Name: <span class="required">*</span>
                    <input type="text" asp-for="Informants.Name" required>
                    <span asp-validation-for="Informants.Name" class="text-danger"></span>

                </td>
                <td>
                    Relation to Patient: <span class="required">*</span>
                    <input type="text" asp-for="Informants.RelationToPatient" required>
                    <span asp-validation-for="Informants.RelationToPatient" class="text-danger"></span>

                </td>
                <td>
                    Contact No: <span class="required">*</span>
                    <input type="text" asp-for="Informants.ContactNo" required>
                    <span asp-validation-for="Informants.ContactNo" class="text-danger"></span>

                </td>
                <td>
                    Address: <span class="required">*</span>
                    <input type="text" asp-for="Informants.Address" required>
                    <span asp-validation-for="Informants.Address" class="text-danger"></span>

                </td>
            </tr>
        </table>

        <div class="section-title">I. Demographic Data </div>
        <table>
            <tr>
                <td>
                    Patient's Last Name: <span class="required">*</span>
                    <input type="text" asp-for="Patient.LastName" required>
                    <span asp-validation-for="Patient.LastName" class="text-danger"></span>
                </td>
                <td>
                    Patient's First Name: <span class="required">*</span>
                    <input type="text" asp-for="Patient.FirstName" required>
                    <span asp-validation-for="Patient.FirstName" class="text-danger"></span>
                </td>
                <td>
                    Patient's Middle Name: <span class="required">*</span>
                    <input type="text" asp-for="Patient.MiddleName" required>
                    <span asp-validation-for="Patient.MiddleName" class="text-danger"></span>
                </td>
            </tr>
            <tr>
                <td>
                    Date of Birth: <span class="required">*</span>
                    <input type="date" asp-for="Patient.DateOfBirth" required>
                    <span asp-validation-for="Patient.DateOfBirth" class="text-danger"></span>
                </td>
                <td>
                    Age: <span class="required">*</span>
                    <input type="number" asp-for="Patient.Age" required>
                    <span asp-validation-for="Patient.Age" class="text-danger"></span>
                </td>
                <td>
                    Sex: <span class="required">*</span>
                    <select asp-for="Patient.Sex" required>
                        <option>Male</option>
                        <option>Female</option>
                    </select>
                    <span asp-validation-for="Patient.Sex" class="text-danger"></span>
                </td>
            </tr>
            <tr>
                <td>
                    Contact No: <span class="required">*</span>
                    <input type="text" asp-for="Patient.ContactNo" required>
                    <span asp-validation-for="Patient.ContactNo" class="text-danger"></span>

                </td>
                <td>
                    Place of Birth: <span class="required">*</span>
                    <input type="text" asp-for="Patient.PlaceOfBirth" required>
                    <span asp-validation-for="Patient.PlaceOfBirth" class="text-danger"></span>

                </td>
                <td>
                    Gender: <span class="required">*</span>
                    <select asp-for="Patient.Gender" required>
                        <option>Male</option>
                        <option>Female</option>
                        <option>LGBTQIA+</option>
                    </select>
                    <span asp-validation-for="Patient.Gender" class="text-danger"></span>

                </td>
            </tr>
            <tr>
                <td>
                    Religion: <span class="required">*</span>
                    <input type="text" asp-for="Patient.Religion" required>
                    <span asp-validation-for="Patient.Religion" class="text-danger"></span>

                </td>
                <td colspan="2">
                    Nationality: <span class="required">*</span>
                    <input type="text" asp-for="Patient.Nationality" required>
                    <span asp-validation-for="Patient.Nationality" class="text-danger"></span>

                </td>
            </tr>
            <tr>
                <td>
                    Permanent Address: <span class="required">*</span>
                    <input type="text" asp-for="Patient.PermanentAddress" required>
                    <span asp-validation-for="Patient.PermanentAddress" class="text-danger"></span>

                </td>
                <td colspan="2">
                    Temporary Address: <span class="required">*</span>
                    <input type="text" asp-for="Patient.TemporaryAddress" required>
                    <span asp-validation-for="Patient.TemporaryAddress" class="text-danger"></span>

                </td>
            </tr>

            <tr>
                <td>
                    Civil Status (Check) <span class="required">*</span>
                </td>
                <td colspan="2">
                    <div class="radio-group">
                        <div class="radio-group">
                            <input type="radio" asp-for="Patient.CivilStatus" value="Legitimate" required> Legitimate
                        </div>

                        <div class="radio-group">
                            <input type="radio" asp-for="Patient.CivilStatus" value="Illegitimate"> Illegitimate
                        </div>

                        <div class="radio-group">
                            <input type="radio" asp-for="Patient.CivilStatus" value="Married"> Married
                        </div>

                        <div class="radio-group">
                            <input type="radio" asp-for="Patient.CivilStatus" value="Common Law"> Common Law
                        </div>

                        <div class="radio-group">
                            <input type="radio" asp-for="Patient.CivilStatus" value="Widowed"> Widowed
                        </div>
                        <span asp-validation-for="Patient.CivilStatus" class="text-danger"></span>
                    </div>
                </td>

            </tr>

            <tr>
                <td>
                    Highest Educational Attainment <span class="required">*</span>
                </td>
                <td colspan="2">
                    <div class="radio-group">
                        <input type="radio" asp-for="Patient.EducationLevel" value="Primary" required> Primary
                        <input type="radio" asp-for="Patient.EducationLevel" value="Secondary"> Secondary
                        <input type="radio" asp-for="Patient.EducationLevel" value="Vocational"> Vocational
                        <input type="radio" asp-for="Patient.EducationLevel" value="Tertiary"> Tertiary
                        <input type="radio" asp-for="Patient.EducationLevel" value="No Educational Attainment"> No Educational Attainment
                        <span asp-validation-for="Patient.EducationLevel" class="text-danger"></span>

                    </div>
                </td>
            </tr>

            <tr>
                <td>
                    Occupation: <span class="required">*</span>
                    <input type="text" asp-for="Patient.Occupation" required>
                    <span asp-validation-for="Patient.Occupation" class="text-danger"></span>

                </td>
                <td colspan="2">
                    Patient's Monthly Income: <span class="required">*</span>
                    <input type="number" asp-for="Patient.MonthlyIncome" required>
                    <span asp-validation-for="Patient.MonthlyIncome" class="text-danger"></span>

                </td>
            </tr>

            <tr>
                <td>
                    PhilHealth Identification Number (PIN): <span class="required">*</span>
                    <input type="number" asp-for="Patient.PhilhealthPIN" required>
                    <span asp-validation-for="Patient.PhilhealthPIN" class="text-danger"></span>

                </td>

                <td colspan="2">
                    <div class="radio-group">
                        PhilHealth Membership (Check): <span class="required">*</span>
                        <div class="radio-group">
                            <input type="radio" asp-for="Patient.PhilhealthMembership" value="Direct Contributor" required> Direct Contributor
                            <input type="radio" asp-for="Patient.PhilhealthMembership" value="Indirect Contributor"> Indirect Contributor
                            <span asp-validation-for="Patient.PhilhealthMembership" class="text-danger"></span>
                        </div>
                    </div>
                </td>
            </tr>

        </table>

        <div class="section-title">Family Composition</div>
        <table id="family-table">
            <tr>
                <th>Name <span class="required">*</span></th>
                <th>Age <span class="required">*</span></th>
                <th>Date of Birth <span class="required">*</span></th>
                <th>Civil Status <span class="required">*</span></th>
                <th>Relationship to Patient <span class="required">*</span></th>
                <th>Living with Child <span class="required">*</span></th>
                <th>Educational Attainment <span class="required">*</span></th>
                <th>Occupation <span class="required">*</span></th>
                <th>Monthly Income <span class="required">*</span></th>
                <th>Action</th>
            </tr>
            <tbody id="family-body" class="family-input">
                @for (int i = 0; i < Model.FamilyMembers.Count; i++)
                {
                    <tr>
                        <td><input type="text" name="FamilyMembers[@i].Name" required></td>
                        <td><input type="number" name="FamilyMembers[@i].Age" required></td>
                        <td><input type="date" name="FamilyMembers[@i].DateOfBirth" required></td>
                        <td><input type="text" name="FamilyMembers[@i].CivilStatus" required></td>
                        <td><input type="text" name="FamilyMembers[@i].RelationshipToPatient" required></td>
                        <td>
                            <select name="FamilyMembers[@i].LivingWithChild" required>
                                <option value="true">Yes</option>
                                <option value="false">No</option>
                            </select>
                        </td>
                        <td><input type="text" name="FamilyMembers[@i].EducationalAttainment" required></td>
                        <td><input type="text" name="FamilyMembers[@i].Occupation" required></td>
                        <td><input type="number" name="FamilyMembers[@i].MonthlyIncome" required></td>
                        <td><button type="button" id="family-button-remove" onclick="removeRow(this)">❌</button></td>
                    </tr>
                }
            </tbody>
        </table>
        <button type="button" id="family-button-add" onclick="addRow(this)">➕ Add Row</button>

        <table>
            <tr>
                <td>
                    Other Sources of Income: <span class="required">*</span>
                    <input type="text" asp-for="Household.OtherSourcesOfIncome" required>
                </td>
                <td>
                    Household Size: <span class="required">*</span>
                    <input type="number" asp-for="Household.HouseholdSize" required>
                </td>
                <td>
                    Total Household Income: <span class="required">*</span>
                    <input type="number" asp-for="Household.TotalHouseholdIncome" required>
                </td>
                <td>
                    Per Capita Income: <span class="required">*</span>
                    <input type="number" asp-for="Household.PerCapitaIncome" required>
                </td>
            </tr>
        </table>

        <div class="section-title">II. MSWD Classification</div>
        <table>
            <tr>
                <td>Main Classification:</td>
                <td>
                    <div class="radio-group">
                        <input type="radio" asp-for="MSWDClassification.MainClassification" value="Financially Capable/Capacitated" required> Financially Capable/Capacitated
                    </div>

                    <div class="radio-group">
                        <input type="radio" asp-for="MSWDClassification.MainClassification" value="Financially Incapable/Incapacitated"> Financially Incapable/Incapacitated
                    </div>

                    <div class="radio-group">
                        <input type="radio" asp-for="MSWDClassification.MainClassification" value="Indigent"> Indigent
                    </div>
                </td>
            </tr>
            <tr>
                <td>Sub Classification:</td>
                <td>
                    <div class="radio-group">
                        <input type="radio" asp-for="MSWDClassification.SubClassification" value="C1" required> C1
                    </div>

                    <div class="radio-group">
                        <input type="radio" asp-for="MSWDClassification.SubClassification" value="C2"> C2
                    </div>

                    <div class="radio-group">
                        <input type="radio" asp-for="MSWDClassification.SubClassification" value="C3"> C3
                    </div>
                </td>
            </tr>
            <tr>
                <td>Membership to Marginalized Sector (Check)</td>
                <td>
                    <div class="radio-group">
                        <input type="radio" asp-for="MSWDClassification.MembershipSector" value="Artisanal Fisher Folk" onchange="toggleRequiredRadio(this)" required> Artisanal Fisher Folk
                    </div>

                    <div class="radio-group">
                        <input type="radio" asp-for="MSWDClassification.MembershipSector" value="Farmer And Landless Rural Worker" onchange="toggleRequiredRadio(this)"> Farmer And Landless Rural Worker
                    </div>

                    <div class="radio-group">
                        <input type="radio" asp-for="MSWDClassification.MembershipSector" value="Urban Poor" onchange="toggleRequiredRadio(this)"> Urban Poor
                    </div>

                    <div class="radio-group">
                        <input type="radio" asp-for="MSWDClassification.MembershipSector" value="Indigenous Peoples" onchange="toggleRequiredRadio(this)"> Indigenous Peoples
                    </div>

                    <div class="radio-group">
                        <input type="radio" asp-for="MSWDClassification.MembershipSector" value="Senior Citizen" onchange="toggleRequiredRadio(this)"> Senior Citizen
                    </div>

                    <div class="radio-group">
                        <input type="radio" asp-for="MSWDClassification.MembershipSector" value="Formal Labor and Migrant Workers" onchange="toggleRequiredRadio(this)"> Formal Labor and Migrant Workers
                    </div>

                    <div class="radio-group">
                        <input type="radio" asp-for="MSWDClassification.MembershipSector" value="Workers in Informal Sector" onchange="toggleRequiredRadio(this)"> Workers in Informal Sector
                    </div>

                    <div class="radio-group">
                        <input type="radio" asp-for="MSWDClassification.MembershipSector" value="PWD" onchange="toggleRequiredRadio(this)"> PWD
                    </div>

                    <div class="radio-group">
                        <input type="radio" asp-for="MSWDClassification.MembershipSector" value="Victims Of Disaster and Calamity" onchange="toggleRequiredRadio(this)"> Victims Of Disaster and Calamity
                    </div>

                    <div class="radio-group">
                        <input type="radio" asp-for="MSWDClassification.MembershipSector" value="Others"
                               id="others-radio" data-target="member-others-specify"
                               onchange="toggleRequiredRadio(this)"> Others

                        <input type="text" id="member-others-specify" placeholder="Specify" disabled
                               oninput="updateOthersValue(this)">
                    </div>
                </td>
            </tr>
        </table>

        <div class="section-title">III. Monthly Expenses</div>
        <table id="expenses-table">
            <tr>
                <th>Particulars</th>
                <th>Estimated Monthly Cost (PHP)</th>
                <th>Particulars</th>
                <th>Estimated Monthly Cost (PHP)</th>
            </tr>
            <tr>
                <td>House & Lot</td>
                <td><input type="number" asp-for="MonthlyExpenses.HouseAndLot" class="expense" required></td>
                <td>Communication</td>
                <td><input type="number" asp-for="MonthlyExpenses.Communication" class="expense" required></td>
            </tr>
            <tr>
                <td>Food & Water</td>
                <td><input type="number" asp-for="MonthlyExpenses.FoodAndWater" class="expense" required></td>
                <td>House Help</td>
                <td><input type="number" asp-for="MonthlyExpenses.HouseHelp" class="expense" required></td>
            </tr>
            <tr>
                <td>Education</td>
                <td><input type="number" asp-for="MonthlyExpenses.Education" class="expense" required></td>
                <td>Medical Expenses</td>
                <td><input type="number" asp-for="MonthlyExpenses.MedicalExpenses" class="expense" required></td>
            </tr>
            <tr>
                <td>Clothing</td>
                <td><input type="number" asp-for="MonthlyExpenses.Clothing" class="expense" required></td>
                <td>Others</td>
                <td>
                    <input type="text" asp-for="MonthlyExpenses.Others" placeholder="Specify">
                    <input type="number" asp-for="MonthlyExpenses.OthersAmount" class="expense">
                </td>
            </tr>
            <tr>
                <td>Transportation</td>
                <td colspan="3"><input type="number" asp-for="MonthlyExpenses.Transportation" class="expense" required></td>

            </tr>
            <tr>
                <td><strong>Total</strong></td>
                <td colspan="3"><input type="number" asp-for="MonthlyExpenses.Total" id="total-expenses" readonly></td>
            </tr>
        </table>

        <div class="section-title">Utilities</div>
        <table>
            <tr>
                <th>Light Source (Check and state amount)</th>
                <th>Fuel Source (Check one)</th>
                <th>Water Source (Check one)</th>
            </tr>
            <tr>
                <td>
                    <div class="radio-group">
                        <input type="radio" asp-for="Utilities.LightSource" value="Electric" data-target="electric-amount" onchange="toggleRequiredRadio(this)" required> Electric
                        <input type="number" asp-for="Utilities.LightSourceAmount" id="electric-amount" placeholder="State amount, 0 if no answer" disabled required>
                    </div>

                    <div class="radio-group">
                        <input type="radio" asp-for="Utilities.LightSource" value="Kerosene" data-target="kerosene-amount" onchange="toggleRequiredRadio(this)"> Kerosene
                        <input type="number" asp-for="Utilities.LightSourceAmount" id="kerosene-amount" placeholder="State amount, 0 if no answer" disabled>
                    </div>

                    <div class="radio-group">
                        <input type="radio" asp-for="Utilities.LightSource" value="Candle" data-target="candle-amount" onchange="toggleRequiredRadio(this)"> Candle
                        <input type="number" asp-for="Utilities.LightSourceAmount" id="candle-amount" placeholder="State amount, 0 if no answer" disabled>
                    </div>

                </td>
                <td>
                    <div class="radio-group">
                        <input type="radio" asp-for="Utilities.FuelSource" value="Gas" data-target="gas-amount" onchange="toggleRequiredRadio(this)" required> Gas
                        <input type="number" asp-for="Utilities.FuelSourceAmount" id="gas-amount" placeholder="State amount, 0 if no answer" disabled required>
                    </div>

                    <div class="radio-group">
                        <input type="radio" asp-for="Utilities.FuelSource" value="Firewood" data-target="firewood-amount" onchange="toggleRequiredRadio(this)"> Firewood
                        <input type="number" asp-for="Utilities.FuelSourceAmount" id="firewood-amount" placeholder="State amount, 0 if no answer" disabled>
                    </div>

                    <div class="radio-group">
                        <input type="radio" asp-for="Utilities.FuelSource" value="Charcoal" data-target="charcoal-amount" onchange="toggleRequiredRadio(this)"> Charcoal
                        <input type="number" asp-for="Utilities.FuelSourceAmount" id="charcoal-amount" placeholder="State amount, 0 if no answer" disabled>
                    </div>
                </td>
                <td>
                    <div class="radio-group">
                        <input type="radio" asp-for="Utilities.WaterSource" value="Artesian Well" required> Artesian Well
                    </div>

                    <div class="radio-group">
                        <input type="radio" asp-for="Utilities.WaterSource" value="Public"> Public
                    </div>

                    <div class="radio-group">
                        <input type="radio" asp-for="Utilities.WaterSource" value="Private"> Private
                    </div>

                    <div class="radio-group">
                        <input type="radio" asp-for="Utilities.WaterSource" value="Water District"> Water District
                    </div>
                </td>
            </tr>

        </table>

        <div class="section-title">IV. MEDICAL HISTORY</div>
        <table>
            <tr>
                <th>Admitting Diagnosis</th>
                <th>Final Diagnosis Upon Discharge</th>
            </tr>
            <tr>
                <td>
                    <div>
                        <textarea asp-for="MedicalHistory.AdmittingDiagnosis" rows="6" cols="60" placeholder="Type N/A if no answer" required></textarea>
                    </div>

                </td>
                <td>
                    <div>
                        <textarea asp-for="MedicalHistory.FinalDiagnosis" rows="6" cols="60" placeholder="Type N/A if no answer" required></textarea>
                    </div>
                </td>
            </tr>

            <tr>
                <th>Duration of the Sysmptoms/Treatment prior to Admission</th>
                <th>Previous Treatment and Duration</th>
            </tr>
            <tr>
                <td>
                    <div>
                        <textarea asp-for="MedicalHistory.DurationSymptomsPriorAdmission" rows="6" cols="60" placeholder="Type N/A if no answer" required></textarea>
                    </div>

                </td>
                <td>
                    <div>
                        <textarea asp-for="MedicalHistory.PreviousTreatmentDuration" rows="6" cols="60" placeholder="Type N/A if no answer" required></textarea>
                    </div>
                </td>
            </tr>

            <tr>
                <th>Treatment Plan</th>
                <th>Health Accessibility Problem</th>
            </tr>
            <tr>
                <td>
                    <div>
                        <textarea asp-for="MedicalHistory.TreatmentPlan" rows="6" cols="60" placeholder="Type N/A if no answer" required></textarea>
                    </div>

                </td>
                <td>
                    <div>
                        <textarea asp-for="MedicalHistory.HealthAccessibilityProblems" rows="6" cols="60" placeholder="Type N/A if no answer" required></textarea>
                    </div>
                </td>
            </tr>

            <tr>
                <th colspan="2">1. How would you describe your child's overall health?</th>
            </tr>
            <tr>
                <td colspan="2">
                    <div>
                        <textarea asp-for="ChildHealth.OverallHealth" rows="6" cols="120" placeholder="Type N/A if no answer" required></textarea>
                    </div>
                </td>
            </tr>

            <tr>
                <th colspan="2">
                    2. Does your child have any other health issues?

                    <div class="radio-group">
                        <input type="radio" asp-for="ChildHealth.HasHealthIssues" value="True" required> Yes
                        <input type="radio" asp-for="ChildHealth.HasHealthIssues" value="False"> No
                    </div>

                    If yes, please explain
                </th>
            </tr>
            <tr>
                <td colspan="2">
                    <div>
                        <textarea asp-for="ChildHealth.DescribeHealthIssues" rows="6" cols="120" placeholder="Type N/A if no answer" required></textarea>
                    </div>
                </td>
            </tr>

            <tr>
                <th colspan="2">
                    3. Does your child have any recurrent medical conditions such as ear infections, asthma or allergies?

                    <div class="radio-group">
                        <input type="radio" asp-for="ChildHealth.HasRecurrentConditions" value="True" required> Yes
                        <input type="radio" asp-for="ChildHealth.HasRecurrentConditions" value="False"> No
                    </div>

                    If yes, please explain
                </th>
            </tr>
            <tr>
                <td colspan="2">
                    <div>
                        <textarea asp-for="ChildHealth.DescribeRecurrentConditions" rows="6" cols="120" placeholder="Type N/A if no answer" required></textarea>
                    </div>
                </td>
            </tr>

            <tr>
                <th colspan="3">
                    4. Does your child have tubes in his/her ears?

                    <div class="radio-group">
                        <input type="radio" asp-for="ChildHealth.HasEarTubes" value="True" required> Yes
                        <input type="radio" asp-for="ChildHealth.HasEarTubes" value="False"> No
                    </div>
                </th>
            </tr>

        </table>

        <table>
            <th>
                5. Include current significant medical problems, physical limitations, sleep problems, unusual eating habits, poor hygiene, overall physical fitness, head injuries, early
                childhood infections, eating disorders, knee or back injuries, asthma and others
            </th>
        </table>
        <table id="diagnosis-table">
            <tr>
                <th>
                    Medical Conditions
                </th>
                <th>
                    Currently receiving treatment?
                </th>
                <th>
                    Provider
                </th>
                <th>
                    Does this condition cause stress or impairment at this time?
                </th>
                <th>
                    What have you found that helps?
                </th>
                <th>
                    Action
                </th>
            </tr>
            <tbody class="diagnosis-input">
                @for (int i = 0; i < Model.Diagnoses.Count; i++)
                {
                    <tr>
                        <td>
                            <input type="text" name="Diagnoses[@i].MedicalCondition" placeholder="Type N/A if no answer" required>
                        </td>
                        <td>
                            <select name="Diagnoses[@i].ReceivingTreatment" required>
                                <option value="true">Yes</option>
                                <option value="false">No</option>
                            </select>
                        </td>
                        <td>
                            <input type="text" name="Diagnoses[@i].TreatmentProvider" placeholder="Type N/A if no answer" required>
                        </td>
                        <td>
                            <select name="Diagnoses[@i].DoesCauseStressOrImpairment" required>
                                <option value="true">Yes</option>
                                <option value="false">No</option>
                            </select>
                        </td>
                        <td>
                            <input type="text" name="Diagnoses[@i].TreatmentHelp" placeholder="Type N/A if no answer" required>
                        </td>
                        <td><button type="button" id="diagnosis-button-remove" onclick="removeRow(this)">❌</button></td>
                    </tr>
                }
            </tbody>
        </table>
        <button type="button" id="diagnosis-button-add" onclick="addRow(this)">➕ Add Row</button>

        <table>
            <th>
                6. Does your child take any medications?
                <div class="radio-group">
                    <input type="radio" asp-for="Medications[0].DoesTakeAnyMedication" value="True" required> Yes
                    <input type="radio" asp-for="Medications[0].DoesTakeAnyMedication" value="False"> No
                </div>
                Please list medications including psychotropic, over‐the‐counter, herbal remedies that you have taken in the past 6 months
            </th>
        </table>
        <table id="medication-table">
            <tr>
                <th>
                    Medication
                </th>
                <th>
                    Dosage
                </th>
                <th>
                    Frequency
                </th>
                <th>
                    Prescribed by
                </th>
                <th>
                    Reason for Medication
                </th>
                <th>
                    Action
                </th>
            </tr>
            <tbody class="medication-input">
                @for (int i = 0; i < Model.Medications.Count; i++)
                {
                    <tr>
                        <td>
                            <input type="text" name="Medications[@i].Medication" placeholder="Type N/A if no answer" required>
                        </td>
                        <td>
                            <input type="text" name="Medications[@i].Dosage" placeholder="Type N/A if no answer" required>
                        </td>
                        <td>
                            <input type="text" name="Medications[@i].Frequency" placeholder="Type N/A if no answer" required>
                        </td>
                        <td>
                            <input type="text" name="Medications[@i].PrescribedBy" placeholder="Type N/A if no answer" required>
                        </td>
                        <td>
                            <input type="text" name="Medications[@i].ReasonForMedication" placeholder="Type N/A if no answer" required>
                        </td>
                        <td><button type="button" id="medication-button-remove" onclick="removeRow(this)">❌</button></td>
                    </tr>
                }
            </tbody>
        </table>
        <button type="button" id="medication-button-add" onclick="addRow(this)">➕ Add Row</button>

        <table>
            <tr>
                <th>
                    Is your child taking the medications as prescribed?
                    <div class="radio-group">
                        <input type="radio" asp-for="Medications[0].IsTakingMedicationAsPrescribed" value="True" required> Yes
                        <input type="radio" asp-for="Medications[0].IsTakingMedicationAsPrescribed" value="False"> No
                    </div>
                </th>
            </tr>
            <tr>
                <th>
                    Additional Information (if needed):
                    <textarea asp-for="Medications[0].AdditionalInfo" rows="6" cols="120" placeholder="Type N/A if no answer" required></textarea>
                </th>
            </tr>
        </table>

        <table>
            <th>
                7. Has your child ever had a serious accident/illness or hospitalization?
                <div class="radio-group">
                    <input type="radio" asp-for="HospitalizationHistory[0].HasSeriousAccidentOrIllness" value="True" required> Yes
                    <input type="radio" asp-for="HospitalizationHistory[0].HasSeriousAccidentOrIllness" value="False"> No
                </div>
                Please list all past hospitalization, surgeries, accidents, or illnesses
            </th>
        </table>
        <table id="hospitalization-table">
            <tr>
                <th>
                    Reason for Previous Hospitalizations, Accident, Illness
                </th>
                <th>
                    Date
                </th>
                <th>
                    Location
                </th>
                <th>
                    Action
                </th>
            </tr>
            <tbody class="hospitalization-input">
                @for (int i = 0; i < Model.HospitalizationHistory.Count; i++)
                {
                    <tr>
                        <td>
                            <input type="text" name="HospitalizationHistory[@i].Reason" placeholder="Type N/A if no answer" required>
                        </td>
                        <td>
                            <input type="date" name="HospitalizationHistory[@i].Date" required>
                        </td>
                        <td>
                            <input type="text" name="HospitalizationHistory[@i].Location" placeholder="Type N/A if no answer" required>
                        </td>
                        <td><button type="button" id="hospitalization-button-remove" onclick="removeRow(this)">❌</button></td>
                    </tr>
                }
            </tbody>
        </table>
        <button type="button" id="hospitalization-button-add" onclick="addRow(this)">➕ Add Row</button>

        <table>
            <tr>
                <th colspan="3">
                    8. Has your child had the following screening/test?
                    <div class="radio-group">
                        <input type="radio" asp-for="MedicalScreenings.HasScreeningDone" value="True" required> Yes
                        <input type="radio" asp-for="MedicalScreenings.HasScreeningDone" value="False"> No
                    </div>
                </th>
            </tr>
            <tr>
                <td>
                    Hearing screening/test:
                </td>
                <td>
                    Date
                    <input type="date" asp-for="MedicalScreenings.HearingTestDate" required>
                </td>
                <td>
                    Outcome
                    <input type="text" asp-for="MedicalScreenings.HearingTestOutcome" placeholder="Type N/A if no answer" required>
                </td>
            </tr>
            <tr>
                <td>
                    Vision screening/test:
                </td>
                <td>
                    Date
                    <input type="date" asp-for="MedicalScreenings.VisionTestDate" required>
                </td>
                <td>
                    Outcome
                    <input type="text" asp-for="MedicalScreenings.VisionTestOutcome" placeholder="Type N/A if no answer" required>
                </td>
            </tr>
            <tr>
                <td>
                    Speech screening/test:
                </td>
                <td>
                    Date
                    <input type="date" asp-for="MedicalScreenings.SpeechTestDate" required>
                </td>
                <td>
                    Outcome
                    <input type="text" asp-for="MedicalScreenings.SpeechTestOutcome" placeholder="Type N/A if no answer" required>
                </td>
            </tr>
            <tr>
                <td>
                    Primary Care Doctor:
                    <input type="text" asp-for="PrimaryCareDoctor.DoctorName" placeholder="Type N/A if no answer" required>
                </td>
                <td>
                    Facility
                    <input type="text" asp-for="PrimaryCareDoctor.Facility" placeholder="Type N/A if no answer" required>
                </td>
                <td>
                    PhoneNumber
                    <input type="text" asp-for="PrimaryCareDoctor.PhoneNumber" placeholder="Type N/A if no answer" required>
                </td>
            </tr>
        </table>

        <table>
            <tr>
                <th colspan="3">
                    A. Presenting Problem
                    <textarea asp-for="PresentingProblems.PresentingProblem" rows="2" cols="120" placeholder="Type N/A if no answer" required></textarea>
                </th>
            </tr>
            <tr>
                <th colspan="3">
                    B. How severe do you rate your child’s presenting problems, on a scale of 1‐10 with 1 being the most severe?
                    <div class="radio-group">
                        <input type="radio" asp-for="PresentingProblems.Severity" value="1" required> 1
                        <input type="radio" asp-for="PresentingProblems.Severity" value="2"> 2
                        <input type="radio" asp-for="PresentingProblems.Severity" value="3"> 3
                        <input type="radio" asp-for="PresentingProblems.Severity" value="4"> 4
                        <input type="radio" asp-for="PresentingProblems.Severity" value="5"> 5
                        <input type="radio" asp-for="PresentingProblems.Severity" value="6"> 6
                        <input type="radio" asp-for="PresentingProblems.Severity" value="7"> 7
                        <input type="radio" asp-for="PresentingProblems.Severity" value="8"> 8
                        <input type="radio" asp-for="PresentingProblems.Severity" value="9"> 9
                        <input type="radio" asp-for="PresentingProblems.Severity" value="10"> 10
                    </div>
                </th>
            </tr>
            <tr>
                <th colspan="3">
                    C. Does the Presenting Problem cause symptoms causing concern, distress, or impairment?
                </th>
            </tr>
            <tr>
                <th colspan="3">
                    1. Change in sleep patterns:
                    <div class="radio-group">
                        <input type="radio" asp-for="PresentingProblems.ChangeInSleepPattern" value="Sleeping more" required> a. Sleeping more
                        <input type="radio" asp-for="PresentingProblems.ChangeInSleepPattern" value="Sleeping less"> b. Sleeping less
                        <input type="radio" asp-for="PresentingProblems.ChangeInSleepPattern" value="Difficulty falling asleep"> c. Difficulty falling asleep
                    </div>
                    <div class="radio-group">
                        <input type="radio" asp-for="PresentingProblems.ChangeInSleepPattern" value="Difficulty staying asleep"> d. Difficulty staying asleep
                        <input type="radio" asp-for="PresentingProblems.ChangeInSleepPattern" value="Difficulty waking up"> e. Difficulty waking up
                        <input type="radio" asp-for="PresentingProblems.ChangeInSleepPattern" value="Difficulty staying awake"> f. Difficulty staying awake
                    </div>
                </th>
            </tr>
            <tr>
                <th colspan="3">
                    2. Concentration:
                    <div class="radio-group">
                        <input type="radio" asp-for="PresentingProblems.Concentration" value="Decreased concentration" required> a. Decreased concentration
                        <input type="radio" asp-for="PresentingProblems.Concentration" value="Increased or excessive concentration"> b. Increased or excessive concentration
                    </div>
                </th>
            </tr>
            <tr>
                <th colspan="3">
                    3. Change in appetite:
                    <div class="radio-group">
                        <input type="radio" asp-for="PresentingProblems.ChangeInAppetite" value="Increased appetite" required> a. Increased appetite
                        <input type="radio" asp-for="PresentingProblems.ChangeInAppetite" value="Decreased appetite"> b. Decreased appetite
                    </div>
                </th>
            </tr>
            <tr>
                <th colspan="3">
                    4. Increased Anxiety (Please describe):
                    <input type="text" asp-for="PresentingProblems.IncreasedAnxiety" placeholder="Type N/A if no answer" required>
                </th>
            </tr>
            <tr>
                <th colspan="3">
                    5. Mood Swings (Please describe):
                    <input type="text" asp-for="PresentingProblems.MoodSwings" placeholder="Type N/A if no answer" required>
                    Behavioral Problems/Changes (describe):
                    <input type="text" asp-for="PresentingProblems.BehavioralChanges" placeholder="Type N/A if no answer" required>
                </th>
            </tr>
            <tr>
                <th colspan="3">
                    6. Victimization:
                    <div class="radio-group">
                        <input type="radio" asp-for="PresentingProblems.Victimization" value="Physical abuse" onchange="toggleRequiredRadio(this)" required> a. Physical abuse
                        <input type="radio" asp-for="PresentingProblems.Victimization" value="Sexual abuse" onchange="toggleRequiredRadio(this)"> b. Sexual abuse
                        <input type="radio" asp-for="PresentingProblems.Victimization" value="Psychological abuse" onchange="toggleRequiredRadio(this)"> c. Psychological abuse
                        <input type="radio" asp-for="PresentingProblems.Victimization" value="Robbery victim" onchange="toggleRequiredRadio(this)"> d. Robbery victim
                        <input type="radio" asp-for="PresentingProblems.Victimization" value="Assault victim" onchange="toggleRequiredRadio(this)"> e. Assault victim
                    </div>
                    <div class="radio-group">
                        <input type="radio" asp-for="PresentingProblems.Victimization" value="Dating violence" onchange="toggleRequiredRadio(this)"> f. Dating violence
                        <input type="radio" asp-for="PresentingProblems.Victimization" value="Domestic violence" onchange="toggleRequiredRadio(this)"> g. Domestic violence
                        <input type="radio" asp-for="PresentingProblems.Victimization" value="Human trafficking" onchange="toggleRequiredRadio(this)"> h. Human trafficking
                        <input type="radio" asp-for="PresentingProblems.Victimization" value="DUI/DWI crash" onchange="toggleRequiredRadio(this)"> i. DUI/DWI crash
                        <input type="radio" asp-for="PresentingProblems.Victimization" value="Survivors of homicide victims" onchange="toggleRequiredRadio(this)"> j. Survivors of homicide victims
                    </div>
                    <div class="radio-group">
                        <input type="radio" asp-for="PresentingProblems.Victimization" value="Others" data-target="victimization-others-specify" onchange="toggleRequiredRadio(this)"> k. Other
                        <input type="text" id="victimization-others-specify" placeholder="Specify" disabled oninput="updateOthersValue(this)">
                    </div>
                </th>
            </tr>
            <tr>
                <th colspan="3">
                    7. Please describe other concerns:
                    <input type="text" asp-for="PresentingProblems.DescribeOtherConcern" placeholder="Type N/A if no answer" required>
                </th>
            </tr>
            <tr>
                <th colspan="3">
                    D. How long has this problem been causing your child distress?
                    <div class="radio-group">
                        <input type="radio" asp-for="PresentingProblems.DurationOfStress" value="One week " required> a. One week
                        <input type="radio" asp-for="PresentingProblems.DurationOfStress" value="One month "> b. One month
                        <input type="radio" asp-for="PresentingProblems.DurationOfStress" value="1 – 6 Months"> c. 1 – 6 Months
                        <input type="radio" asp-for="PresentingProblems.DurationOfStress" value="6 Months – 1 Year"> d. 6 Months – 1 Year
                        <input type="radio" asp-for="PresentingProblems.DurationOfStress" value="Longer than one year"> e.  Longer than one year
                    </div>
                </th>
            </tr>
            <tr>
                <th colspan="3">
                    E. How do you rate your child’s current level of coping on a scale of 1 – 10 with 1 being unable to cope?
                    <div class="radio-group">
                        <input type="radio" asp-for="PresentingProblems.CopingLevel" value="1" required> 1
                        <input type="radio" asp-for="PresentingProblems.CopingLevel" value="2"> 2
                        <input type="radio" asp-for="PresentingProblems.CopingLevel" value="3"> 3
                        <input type="radio" asp-for="PresentingProblems.CopingLevel" value="4"> 4
                        <input type="radio" asp-for="PresentingProblems.CopingLevel" value="5"> 5
                        <input type="radio" asp-for="PresentingProblems.CopingLevel" value="6"> 6
                        <input type="radio" asp-for="PresentingProblems.CopingLevel" value="7"> 7
                        <input type="radio" asp-for="PresentingProblems.CopingLevel" value="8"> 8
                        <input type="radio" asp-for="PresentingProblems.CopingLevel" value="9"> 9
                        <input type="radio" asp-for="PresentingProblems.CopingLevel" value="10"> 10
                    </div>
                </th>
            </tr>
        </table>

        @* --- Add new here --- *@

        <div class="mt-2" style="text-align: center;">
            <button type="submit" class="btn btn-sm btn-primary">Submit</button>
        </div>
        <div class="mt-2" style="text-align: center;">
            <a class="btn btn-sm btn-outline-primary" asp-action="Index">Back to List</a>
        </div>
    </div>

</form>

@section Scripts {
    <script>
        // Get today's date in YYYY-MM-DD format
        const today = new Date().toISOString().split('T')[0];
        document.getElementById("dateInput").value = today;

        // Get current time in HH:MM format
        const now = new Date();
        const hours = String(now.getHours()).padStart(2, '0');
        const minutes = String(now.getMinutes()).padStart(2, '0');
        document.getElementById("timeInput").value = `${hours}:${minutes}`;

        function addRow(button) {
            if (button.id == "family-button-add") {

                let table = document.getElementById("family-table");

                if (table.rows.length - 1 == 12){
                    alert("Only 12 rows allowed");
                    return;
                }

                let rowCount = table.rows.length - 1; // Exclude header row
                //let rowCount = table.rows.length; // Includes header, so first row starts at 1
                let newRow = table.insertRow(-1); // Insert at the end

                let cols = `
                    <td><input type="text" name="FamilyMembers[${rowCount}].Name" required></td>
                    <td><input type="number" name="FamilyMembers[${rowCount}].Age" required></td>
                    <td><input type="date" name="FamilyMembers[${rowCount}].DateOfBirth" required></td>
                    <td><input type="text" name="FamilyMembers[${rowCount}].CivilStatus" required></td>
                    <td><input type="text" name="FamilyMembers[${rowCount}].RelationshipToPatient" required></td>
                    <td>
                        <select name="FamilyMembers[${rowCount}].LivingWithChild" required>
                            <option value="true">Yes</option>
                            <option value="false">No</option>
                        </select>
                    </td>
                    <td><input type="text" name="FamilyMembers[${rowCount}].EducationalAttainment" required></td>
                    <td><input type="text" name="FamilyMembers[${rowCount}].Occupation" required></td>
                    <td><input type="number" name="FamilyMembers[${rowCount}].MonthlyIncome" required></td>
                    <td><button type="button" id="family-button-remove" onclick="removeRow(this)">❌</button></td>
                `;
                newRow.innerHTML = cols;

            }
            else if (button.id == "diagnosis-button-add") {

                let table = document.getElementById("diagnosis-table");

                if (table.rows.length - 1 == 3){
                    alert("Only 3 rows allowed");
                    return;
                }

                let rowCount = table.rows.length - 1; // Exclude header row
                let newRow = table.insertRow(-1);

                let cols = `
                    <td><input type="text" name="Diagnoses[${rowCount}].MedicalCondition" required></td>
                    <td>
                        <select name="Diagnoses[${rowCount}].ReceivingTreatment" required>
                            <option value="true">Yes</option>
                            <option value="false">No</option>
                        </select>
                    </td>
                    <td><input type="text" name="Diagnoses[${rowCount}].TreatmentProvider" required></td>
                    <td>
                        <select name="Diagnoses[${rowCount}].DoesCauseStressOrImpairment" required>
                            <option value="true">Yes</option>
                            <option value="false">No</option>
                        </select>
                    </td>
                    <td><input type="text" name="Diagnoses[${rowCount}].TreatmentHelp" required></td>
                    <td><button type="button" id="diagnosis-button-remove" onclick="removeRow(this)">❌</button></td>
                `;

                newRow.innerHTML = cols;
            }
            else if (button.id == "medication-button-add") {

                let table = document.getElementById("medication-table");

                if (table.rows.length - 1 == 3){
                    alert("Only 3 rows allowed");
                    return;
                }

                let rowCount = table.rows.length - 1; // Exclude header row
                let newRow = table.insertRow(-1);

                let cols = `
                    <td><input type="text" name="Medications[${rowCount}].Medication" required></td>
                    <td><input type="text" name="Medications[${rowCount}].Dosage" required></td>
                    <td><input type="text" name="Medications[${rowCount}].Frequency" required></td>
                    <td><input type="text" name="Medications[${rowCount}].PrescribedBy" required></td>
                    <td><input type="text" name="Medications[${rowCount}].ReasonForMedication" required></td>
                    <td><button type="button" id="medication-button-remove" onclick="removeRow(this)">❌</button></td>
                `;

                newRow.innerHTML = cols;
            }
            else if (button.id == "hospitalization-button-add") {
                let table = document.getElementById("hospitalization-table");

                if (table.rows.length - 1 == 3){
                    alert("Only 3 rows allowed");
                    return;
                }

                let rowCount = table.rows.length - 1; // Exclude header row
                let newRow = table.insertRow(-1);

                let cols = `
                    <td><input type="text" name="HospitalizationHistory[${rowCount}].Reason" required></td>
                    <td><input type="date" name="HospitalizationHistory[${rowCount}].Date" required></td>
                    <td><input type="text" name="HospitalizationHistory[${rowCount}].Location" required></td>
                    <td><button type="button" id="hospitalization-button-remove" onclick="removeRow(this)">❌</button></td>
                `;

                newRow.innerHTML = cols;
            }


        }

        function removeRow(button) {
            if (button.id == "family-button-remove") {
                let row = button.parentNode.parentNode;
                let table = document.getElementById("family-table");

                if (table.rows.length > 2) { // Keep at least one row
                    row.remove();
                    updateNames(button);
                } else {
                    alert("At least one row is required!");
                }
            }
            else if (button.id == "diagnosis-button-remove") {
                let row = button.parentNode.parentNode;
                let table = document.getElementById("diagnosis-table");

                if (table.rows.length > 2) { // Keep at least one row
                    row.remove();
                    updateNames(button);
                } else {
                    alert("At least one row is required!");
                }
            }
            else if (button.id == "medication-button-remove") {
                let row = button.parentNode.parentNode;
                let table = document.getElementById("medication-table");

                if (table.rows.length > 2) { // Keep at least one row
                    row.remove();
                    updateNames(button);
                } else {
                    alert("At least one row is required!");
                }
            }
            else if (button.id == "hospitalization-button-remove") {
                let row = button.parentNode.parentNode;
                let table = document.getElementById("hospitalization-table");

                if (table.rows.length > 2) { // Keep at least one row
                    row.remove();
                    updateNames(button);
                } else {
                    alert("At least one row is required!");
                }
            }
        }

        function updateNames(button) {
            if (button.id == "family-button-remove") {
                let table = document.getElementById("family-table");
                for (let i = 1; i < table.rows.length; i++) { // Skip header row
                    let row = table.rows[i];
                    row.cells[0].querySelector("input").name = `FamilyMembers[${i - 1}].Name`;
                    row.cells[1].querySelector("input").name = `FamilyMembers[${i - 1}].Age`;
                    row.cells[2].querySelector("input").name = `FamilyMembers[${i - 1}].DateOfBirth`;
                    row.cells[3].querySelector("input").name = `FamilyMembers[${i - 1}].CivilStatus`;
                    row.cells[4].querySelector("input").name = `FamilyMembers[${i - 1}].RelationshipToPatient`;
                    row.cells[5].querySelector("select").name = `FamilyMembers[${i - 1}].LivingWithChild`;
                    row.cells[6].querySelector("input").name = `FamilyMembers[${i - 1}].EducationalAttainment`;
                    row.cells[7].querySelector("input").name = `FamilyMembers[${i - 1}].Occupation`;
                    row.cells[8].querySelector("input").name = `FamilyMembers[${i - 1}].MonthlyIncome`;
                }
            }
            else if (button.id == "diagnosis-button-remove") {
                let table = document.getElementById("diagnosis-table");
                for (let i = 1; i < table.rows.length; i++) { // Skip header row
                    let row = table.rows[i];
                    row.cells[0].querySelector("input").name = `Diagnoses[${i - 1}].MedicalCondition`;
                    row.cells[1].querySelector("select").name = `Diagnoses[${i - 1}].ReceivingTreatment`;
                    row.cells[2].querySelector("input").name = `Diagnoses[${i - 1}].TreatmentProvider`;
                    row.cells[3].querySelector("select").name = `Diagnoses[${i - 1}].DoesCauseStressOrImpairment`;
                    row.cells[4].querySelector("input").name = `Diagnoses[${i - 1}].TreatmentHelp`;
                }
            }
            else if (button.id == "medication-button-remove") {
                let table = document.getElementById("medication-table");
                for (let i = 1; i < table.rows.length; i++) { // Skip header row
                    let row = table.rows[i];
                    row.cells[0].querySelector("input").name = `Medications[${i - 1}].Medication`;
                    row.cells[1].querySelector("input").name = `Medications[${i - 1}].Dosage`;
                    row.cells[2].querySelector("input").name = `Medications[${i - 1}].Frequency`;
                    row.cells[3].querySelector("input").name = `Medications[${i - 1}].PrescribedBy`;
                    row.cells[4].querySelector("input").name = `Medications[${i - 1}].ReasonForMedication`;
                }
            }
            else if (button.id == "hospitalization-button-remove") {
                let table = document.getElementById("hospitalization-table");
                for (let i = 1; i < table.rows.length; i++) { // Skip header row
                    let row = table.rows[i];
                    row.cells[0].querySelector("input").name = `HospitalizationHistory[${i - 1}].Reason`;
                    row.cells[1].querySelector("input").name = `HospitalizationHistory[${i - 1}].Date`;
                    row.cells[2].querySelector("input").name = `HospitalizationHistory[${i - 1}].Location`;
                }
            }
        }

        document.addEventListener("input", function() {
            let total = 0;
            document.querySelectorAll(".expense").forEach(input => {
                total += Number(input.value) || 0;
            });
            document.getElementById("total-expenses").value = total;
        });

        function toggleRequired(checkbox) {
            let inputField = checkbox.nextElementSibling; // The input field next to the checkbox

            if (checkbox.checked) {
                inputField.required = true;
                inputField.disabled = false;
            } else {
                inputField.required = false;
                inputField.disabled = true;
                inputField.value = ""; // Clear value when unchecked
            }
        }

        document.addEventListener("DOMContentLoaded", function () {
            document.querySelectorAll('input[type="radio"][data-target]').forEach(radio => {
                let inputField = document.getElementById(radio.getAttribute("data-target"));

                if (radio.checked && radio.value !== "Others" && inputField) {
                    inputField.disabled = false;
                    inputField.required = true;
                    inputField.value = radio.value; // Set stored value for "Others"
                }
            });
        });

        function toggleRequiredRadio(radio) {
            let targetId = radio.getAttribute("data-target");
            let inputField = document.getElementById(targetId);

            // Disable all "Others" input fields within the same radio group
            document.getElementsByName(radio.name).forEach(r => {
                let field = document.getElementById(r.getAttribute("data-target"));
                if (field) {
                    field.disabled = true;
                    field.required = false;
                    field.value = ""; // Clear value when another radio is selected
                }
            });

            // Enable the "Others" input field only when selected
            if (inputField && radio.value === "Others") {
                inputField.disabled = false;
                inputField.required = true;
            }
            else if (inputField) {
                inputField.disabled = false;
                inputField.required = true;
            }
        }

        function updateOthersValue(input) {
            let radio = document.querySelector(`input[data-target="${input.id}"]`);

            if (radio.checked && input.value.trim() !== "") {
                radio.value = input.value.trim(); // Update radio value dynamically
            }
        }

    </script>
}


