@{
	ViewData["Title"] = "View Form";
	Layout = "_AdminLayout";
}

<h2>View Form</h2>
<hr />

@Html.Raw(TempData["FormHtml"])

<form asp-action="DownloadPDF" method="post">
	@Html.AntiForgeryToken()
	<input type="hidden" name="id" value="@ViewBag.Id" />
	<a class="btn btn-sm btn-success" asp-action="Edit" asp-route-id="@ViewBag.Id">Edit</a>
	<button type="submit" class="btn btn-sm btn-primary">Download PDF</button>
</form>

<div class="mt-2">
	<a class="btn btn-sm btn-outline-primary" asp-action="Index">Back to List</a>
</div>
