:root {
    --navbar-top-height: 4.375rem; /* 70px */
    --navbar-left-width: 12rem; /* 192px */
    --navbar-left-width-collapsed: 5.3125rem; /* 85px */
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

.no-transition {
    transition: none !important;
}

.navbar, .navbar-top, .navbar-left {
    margin: 0;
    padding: 0;
}

html, body {
    overflow: hidden;
}

body {
    display: grid;
    grid-template-columns: calc(var(--navbar-left-width) - 40px) 1fr; 
    grid-template-rows: auto 1fr;
    height: 100vh;
    margin: 0;
}

.navbar-top {
    grid-column: 1 / span 2;
    grid-row: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.625rem; /* 10px */
    background-color: #44ac5c;
    height: var(--navbar-top-height);
    width: 100%;
    box-sizing: border-box;
}

    .navbar-top .left-buttons,
    .navbar-top .right-buttons {
        display: flex;
        align-items: center;
    }

        .navbar-top .left-buttons .btn-navbar {
            margin-right: -0.3rem; /* -13px */
        }

.navbar-left {
    color: white;
    grid-column: 1;
    grid-row: 2;
    display: flex;
    flex-direction: column;
    background-color: #3d9953;
    box-sizing: border-box;
    /*    width: fit-content;*/
    width: var(--navbar-left-width);
    padding: 0.625rem; /* 10px */
    justify-content: space-between;
    transition: width 0.3s ease, padding 0.3s ease;
    overflow-y: auto; /* allows scrolling if content overflows */
}

    .navbar-left.collapsed {
        width: var(--navbar-left-width-collapsed);
    }

        .navbar-left.collapsed .btn-left span,
        .navbar-left.collapsed .btn-left-sub span,
        .navbar-left.collapsed .btn-group strong,
        .navbar-left.collapsed .btn-group p {
            display: none;
        }

    .navbar-left .btn-left i,
    .navbar-left .btn-left-sub i {
        margin-right: 8px;
        font-size: 1.2rem;
    }

    .navbar-left.collapsed .btn-left i,
    .navbar-left.collapsed .btn-left-sub i {
        margin-right: 0;
    }

    /* Optional: reduce padding/margin in collapsed state */
    .navbar-left.collapsed .btn-left {
        text-align: center;
        padding: 5px;
        width: calc(var(--navbar-left-width-collapsed) - 30px);
    }

    .navbar-left.collapsed .btn-left-sub {
        text-align: center;
        padding: 5px;
        width: calc(var(--navbar-left-width-collapsed) - 41px)
    }

body.sidebar-collapsed .navbar-left {
    width: 0;
    padding: 0;
    overflow: hidden;
}

.main-content {
    transition: margin-left 0.3s ease;
    grid-column: 2;
    grid-row: 2;
    margin-left: 2rem;
    padding: 1.25rem; /* 20px */
    box-sizing: border-box;
    overflow-y: auto; /* allows scrolling if content overflows */
    height: calc(100vh - var(--navbar-top-height));
}

    .main-content main .container-fluid {
        /*        max-width: 1650px !important;*/
        max-width: calc(100vw - 250px) !important;
    }

    .main-content main .container-fluid div {
        max-height: calc(100vh - 250px) !important; /* adjust 100px to match your top nav/footer height */
        overflow-y: auto !important; /* make it scrollable if needed */
    }

        .main-content main .container-fluid div table thead th {
            position: sticky;
            top: 0;
            background-color: white; /* or your table header bg */
            z-index: 2; /* ensures it stays above content */
        }

        th.sticky-col {
            position: sticky !important;
            left: 0 !important;
            background: white !important;
            z-index: 4 !important; /* higher than header */
        }

        td.sticky-col {
            position: sticky !important;
            left: 0 !important;
            background: white !important;
            z-index: 3 !important; /* higher than header */
        }

    .main-content.collapsed {
        margin-left: -70px;
    }

    .main-content.collapsed main .container-fluid {
        /*        max-width: 1750px !important; */
        max-width: calc(100vw - 125px) !important;
    }

.profile-icon {
    width: 2.5rem; /* 40px */
    height: 2.5rem; /* 40px */
    border-radius: 50%;
    vertical-align: middle;
}

.btn-main {
    color: rgb(0, 0, 0);
    text-decoration: none;
    padding: 0.625rem 1.25rem; /* 10px 20px */
    border-radius: 0.3125rem; /* 5px */
    margin: 0.3125rem; /* 5px */
    transition-duration: 0.3s;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.btn-navbar-right,
.btn-navbar {
    color: rgb(255, 255, 255);
    font-size: 1.5625rem; /* 25px */
    text-decoration: none;
    border-radius: 6.25rem; /* 100px */
    margin: 0.2rem; /* 34px */
    transition-duration: 0.2s;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0.3rem 0.7rem;
}

.btn-left {
    color: white;
    text-decoration: none;
    padding: 0.3rem 1rem; /* 10px 20px */
    border-radius: 0.3125rem; /* 5px */
    margin: 0.3125rem; /* 5px */
    transition-duration: 0.3s;
    display: inline-block;
    align-items: center;
    justify-content: center;
    word-wrap: break-word;
    white-space: normal;
    text-align: left;
    font-weight: bold;
    /*border: #327e44 2px solid;*/
    width: calc(var(--navbar-left-width) - 30px);
}

.btn-left-sub {
    color: white;
    text-decoration: none;
    padding: 0.3rem 1rem; /* 10px 20px */
    border-radius: 0.3125rem; /* 5px */
    margin: 0.3125rem; /* 5px */
    transition-duration: 0.3s;
    display: inline-block;
    align-items: center;
    justify-content: center;
    word-wrap: break-word;
    white-space: normal;
    text-align: left;
    font-weight: bold;
    /*border: #327e44 2px solid;*/
    width: calc(var(--navbar-left-width) - 41px);
    margin-left: 1rem;
}

.btn-content {
    color: white;
    text-decoration: none;
    padding: 0.625rem 1.25rem; /* 10px 20px */
    background-color: #555;
    border-radius: 0.3125rem; /* 5px */
    margin: 0.3125rem; /* 5px */
    transition-duration: 0.3s;
    display: inline-block;
    align-items: center;
    justify-content: center;
    word-wrap: break-word;
    white-space: normal;
    text-align: center;
}
    .btn-left-sub:hover,
    .btn-content:hover,
    .btn-main:hover,
    .btn-left:hover,
    .btn-navbar:hover {
        background-color: #327e44;
        color: white;
        text-decoration: none;
    }

.btn-left-sub.active,
.btn-left.active {
    background-color: #327e44;
    color: white;
    text-decoration: none;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-profile-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: #f9f9f9;
    min-width: 10rem; /* 160px */
    box-shadow: 0px 0.5rem 1rem 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

    .dropdown-profile-content a {
        color: black;
        padding: 0.75rem 1rem; /* 12px 16px */
        text-decoration: none;
        display: block;
    }

        .dropdown-profile-content a:hover {
            background-color: #f1f1f1;
        }

.show {
    display: block;
}

.td-password,
#td-password {
    font-family: 'text-security-disc', 'Courier', monospace;
    -webkit-text-security: disc; /* Chrome, Safari, Edge */
    -moz-text-security: disc; /* Firefox doesn't support this */
    text-security: disc; /* Future standard */
}

h2 {
    font-weight: bold;
}

.search-container {
    display: flex;
    align-items: center;
    gap: 0.625rem; /* 10px */
/*    flex-wrap: wrap;*/
    max-width: 50%;
    margin-bottom: 1.25rem; /* 20px */
}

    .search-container form {
        display: flex;
        flex-grow: 1;
        align-items: center;
    }

.input-group {
    display: flex;
    flex-grow: 1;
    align-items: center;
}

    .input-group .form-control {
        flex-grow: 1;
    }

.search-container a {
    white-space: nowrap;
}

/* Remove default Bootstrap border-radius */
.pagination .page-link {
    color: #333;
    transition: all 0.2s;
}

    /* Hover effect */
    .pagination .page-link:hover {
        background-color: #383838;
        color: white;
        border-color: #383838;
    }

/* Active page style */
.pagination .page-item.active .page-link {
    background-color: #383838;
    border-color: #383838;
    color: white;
}

/* Disabled page style */
.pagination .page-item.disabled .page-link {
    color: #aaa;
    pointer-events: none;
    background-color: #f8f9fa;
    border-color: #ddd;
}

/* Smaller icons */
.pagination i.bi {
    font-size: 0.9rem;
}

input[type="radio"] {
    accent-color: rgb(0, 0, 0) !important; 
}

/* Media Queries for Responsive Design */
@media (max-width: 48rem) { /* 768px */
    .navbar-top-main {
        flex-direction: column;
        height: auto;
    }

    .navbar-top {
        flex-direction: column;
        height: auto;
    }

    .navbar-left {
        display: none; /* Sidebar disappears */
    }

        .navbar-left.active {
            display: flex; /* show when .active is added */
            z-index: 1000;
            width: var(--navbar-left-width) !important;
        }

            /* ignore collapsed styles on mobile */
            .navbar-left.active.collapsed {
                width: var(--navbar-left-width) !important;
            }

                .navbar-left.active.collapsed .btn-left span,
                .navbar-left.active.collapsed .btn-left-sub span,
                .navbar-left.active.collapsed .btn-group strong,
                .navbar-left.active.collapsed .btn-group p {
                    display: inline !important;
                    width: var(--navbar-left-width) !important;
                }

                .navbar-left.active.collapsed .btn-left {
                    text-align: start;
                    padding: 0.3rem 1rem;
                    width: calc(var(--navbar-left-width) - 30px);
                }

                .navbar-left.active.collapsed .btn-left-sub {
                    text-align: start;
                    padding: 0.3rem 1rem;
                    width: calc(var(--navbar-left-width) - 41px)
                }

                    .navbar-left.active.collapsed .btn-left i,
                    .navbar-left.active.collapsed .btn-left-sub i {
                        margin-right: 8px;
                        font-size: 1.2rem;
                    }


    .main-content {
        grid-column: 1 / span 2; /* Main content takes full width */
        margin-left: 0;
        width: 100%;
    }

    .main-content.collapsed {
        margin-left: 0;
    }

        .main-content main .container-fluid{
            max-width: 100% !important;
        }

        .main-content.collapsed main .container-fluid {
            max-width: 100% !important;
        }

        .dropdown-profile-content {
            right: auto;
            left: 0;
        }
}

/* Dashboard */
/* Mobile-first: stack containers */
@media (max-width: 768px) {
    .d-flex.justify-content-center.align-items-center {
        flex-direction: column; /* stack vertically */
    }

    .container {
        width: 90%; /* full width on small screens */
        margin: 10px auto;
    }

    .container-users,
    .container-general {
        width: 95%; /* shrink big boxes */
        padding: 15px;
    }

    #activeUsersList li {
        flex: 0 0 100%; /* 1 column instead of 3 */
        font-size: 0.85rem;
    }

    canvas#generalChart {
        max-width: 100%;
        height: auto; /* chart scales responsively */
    }
}

/* Tablet adjustments */
@media (min-width: 769px) and (max-width: 1200px) {
    .container {
        width: 45%; /* 2 per row */
    }

    .container-users,
    .container-general {
        width: 90%;
    }

    #activeUsersList li {
        flex: 0 0 48%; /* 2 columns instead of 3 */
    }
}
